{% extends 'template.html' %} 
{% block content %}
<div class="header">
    <ul class="nav nav-pills pull-right">
        <li class="active">
            <div id="signinButton">
                <span class="g-signin" data-scope="https://www.googleapis.com/auth/plus.profile.emails.read" data-clientid="{{ CLIENT_ID }}" data-redirecturi="postmessage" data-accesstype="offline" data-cookiepolicy="http://filmalert.cf" data-callback="onSignInCallback"></span>
            </div>
            <div id="profile"></div>
        </li>
    </ul>
    <h3 class="text-muted">{{ APPLICATION_NAME }}</h3>
</div>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">Modal title</h4>
            </div>
            <div class="modal-body">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button id="logout" type="button" class="btn btn-primary">Log out</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}